

/* Banner-1 */

/* Components */

.main-head {
    display: flex;
    justify-content: center;
    margin-bottom: 3em !important;
    border: 1px solid white;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    justify-content: center !important;
    background-color: black;
    margin-bottom: 3rem !important;
}

    
.banner {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 10px;
    gap:10px;
    justify-content: space-between;
}

.item1 {
    display: flex;
    width:20%;
    background-image: url(/Images/Me.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: grayscale(85%);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3rem !important; 
    justify-content: center;
    align-items: center;
    transition: ease-in-out 500ms;
}

.item1:hover {
    transform: scale(1.025);
    transition: ease-in-out 500ms;

}

.item2 {
    display: flex;
    width:20%;
    background-image: url(/Images/Projects.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: grayscale(85%);
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
    align-items: center;
    transition: ease-in-out 500ms;
}

.item2:hover {
    transform: scale(1.025);
    transition: ease-in-out 500ms;

}

.item3 {
    display: flex;
    width:20%;
    background-image: url(/Images/Certifivations.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: grayscale(85%);
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
    align-items: center;
    transition: ease-in-out 500ms;
}

.item3:hover {
    transform: scale(1.025);
    transition: ease-in-out 500ms;

}

.item4 {
    display: flex;
    width:20%;
    background-image: url(/Images/Cta.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: grayscale(85%);
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
    align-items: center;
    transition: ease-in-out 500ms;
}

.item4:hover {
    transform: scale(1.025);
    transition: ease-in-out 500ms;

}

/* Utility */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid white;
}

.wrapper-2 {
    width: 70%;
}

.text-box-2 h2  { 
font-size: large;
text-align: center;
color: white;
}

/* Media */

/* Mobile */
@media only screen and (max-width:550px) {

    .banner-container {
         height: 100vh;
         border: none;
    }

    .item1 {
        height: 100vh;
        width: 100vw;
    }

    .item2 {
        height: 100vh;
        width: 100vw;
    }

    .item3 {
        height: 100vh;
        width: 100vw;
    }

    .item4 {
        height: 100vh;
        width: 100vw;
    }
}
    


/* Tablet */
@media only screen and (min-width:551px) and (max-width:1300px){

    .banner-container {
     height: 100vh;
     width: 100vw;
   }

   .item1 {
       height: 50vh;
       width: 45vw;
   }

   .item2 {
       height: 50vh;
       width: 45vw;
   }

   .item3 {
       height: 50vh;
       width: 45vw;
   }

   .item4 {
       height: 50vh;
       width: 45vw;
   }
}

