/* Navbar */

/* Components */

.nav-container {
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px;
    justify-content: center;
}

.navbar {
    display: flex;
    padding: 5px;
    gap: 20px;
}

/* Utility */

li {
    list-style-type: none;
    text-align: center;
    font-size: large;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid white;
}

/* Media */

/* Mobile */
@media only screen and (max-width:550px) {
    li {
        font-size: small;
    }
}


/* Tablet */
@media only screen and (min-width:551px) and (max-width:1300px){
    li {
        font-size: large;
    }
}
